html
  head
    title= title

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css', rel='stylesheet')
    
  body

    div(class="container-fluid")
        div(class="row")
            div(class="col s12 m12", style={'text-align': 'center' })
              h3 Forseti API
              img(src="/images/google_bear.jpg", style={'text-align': 'center', height: '176px', width: '176px', 'border-radius': '50%'})

    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")