html
  head
    title= title

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css', rel='stylesheet')
    style
      include ../public/styles/style.css
  body

    div(class="container-fluid")
        div(class="row")
            div(class="col s12 m12", style={'text-align': 'center' })
              h3 Forseti Visualizer API v#{version}
              p Visualization API running on top of Forseti Security's Cloud SQL Database and GRPC API
              img(src="/images/forseti-visibility-icon.svg", style={'text-align': 'center', height: '176px', width: '176px', 'border-radius': '50%'})
        
        hr

        div(class="row")
            div(class="col s12 m12", style={'text-align': 'center' })
              h3 Cloud SQL Connectivity Status
              if canConnectToCloudSql
                p Connectivity Status: 
                p(style={ color: 'green' }) Connected
              else
                p Connectivity Status: 
                p(style={ color: 'red' }) Disconnected
              img(src="/images/cloud-sql-icon.png", style={'text-align': 'center', height: '176px', width: '176px', 'border-radius': '50%'})

    script(src="https://code.jquery.com/jquery-3.5.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
